footer.footer 
    span Made with ♥️ by&nbsp;
    a(href='https://github.com/CapOfCave' target="_blank" rel="noreferrer noopener") Lars Kecker 
    span &nbsp;|&nbsp;
    a(href='https://github.com/CapOfCave/cuberdle/issues/new' target="_blank" rel="noreferrer noopener") Feedback