#settingsModal.modal-dialog
    .modal-header
        h5#resultTitle Settings
        include ./closeModal.pug        

    h3 Cube Control Mode
    label.radio-container
        span Click-To-Turn 
        input(type="radio" checked="checked" value="clickToTurn" name="settings-cube-control-mode")
        span.checkmark 
    label.radio-container
        span Drag-To-Turn 
        input(type="radio" checked="checked" value="dragToTurn" name="settings-cube-control-mode")
        span.checkmark 
         