doctype html
html(lang="en")
    include ../../includes/head.pug
    body
        .container
            .header 
                include ../../includes/titleSection.pug
                nav.game-mode-nav
                    button.action-button.solid.primary(disabled) Daily 
                    button.action-button.outlined.primary(onclick="location.href='/practice'") Practice    
            

            include ../../includes/cube.pug

            .action-section
                button.action-button.outlined.primary(onclick='window.actions.undoButtonClicked()') Undo previous move
                button.action-button.outlined.error(onclick='window.actions.clearButtonClicked()') Clear
            #guessSection.guess-section
            .submit-section.action-section
                button.action-button.solid.primary(onclick='window.actions.submitButtonClicked()') Submit
            include ../../includes/footer.pug

        //- Modals
        #modal
            include ../../includes/instructionsModal.pug
            #winModal.results-modal.modal-dialog
                .modal-header
                    h5#resultTitle You won!
                    include ../../includes/closeModal.pug        
                .result-pattern
                p The solution was
                p.solution
                .action-section
                    .share-tooltip.tooltip
                        span.tooltiptext Copied to Clipboard!
                        button.action-button.outlined.primary(onclick="window.actions.shareButtonClicked()") Share
                    .tooltip.hover-tooltip
                        span.tooltiptext Come back tomorrow or choose a different difficulty!
                        button.action-button.solid.primary(disabled) Play Again
            #lossModal.results-modal.modal-dialog
                .modal-header
                    h5#resultTitle Better luck next time!
                    include ../../includes/closeModal.pug        
                .result-pattern
                p The solution was
                p.solution
                .action-section
                    .share-tooltip.tooltip
                        span.tooltiptext Copied to Clipboard!
                        button.action-button.outlined.primary(onclick="window.actions.shareButtonClicked()") Share
                    .tooltip.hover-tooltip
                        span.tooltiptext Come back tomorrow or choose a different difficulty!
                        button.action-button.solid.primary(disabled) Play Again
            include ../../includes/settingsModal.pug

                    

                    

               
               

