doctype html
html(lang="en")
    head
        title Cuberdle
    body
        .container
            h1.title Cuberdle
            #preview.preview
                - var faces = ['left', 'right', 'top', 'bottom', 'back', 'front'], pieces = 26
                #scene.scene
                    #pivot.pivot.centered(style = 'transform: rotateX(-35deg) rotateY(-35deg);')
                        #cube.cube
                            while pieces--
                                .piece
                                    each face in faces
                                        div(class = 'face ' + face)
                #guide
                    - var n = 4
                    while n--
                        div(id = 'anchor' + n data-anchor-index = n class = 'anchor' style = 'transform: translateZ(3px) translateY(-33.33%) rotate(' + (-90 * n) + 'deg) translateY(66.67%)')
            .action-section
                button.action-button(onclick='window.actions.randomMoveButtonClicked()') Make a random move
                button.action-button(onclick='window.actions.undoButtonClicked()') Undo previous move
                button.action-button(onclick='window.actions.clearButtonClicked()') Clear
            .guess-section
                #currentGuess.guess-row
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                .guess-row
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                .guess-row
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
                    .move-cart(data-state='empty')
            .submit-section.action-section
                button.action-button(onclick='window.actions.submitButtonClicked()') Submit
               
               

