$ground-color: #000000;

$correct-guess-color: #28a745;
$present-guess-color: #ffc107;
$absent-guess-color: #6c757d;
$empty-guess-color: #343a40;

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	color: white;

	&.modal-open {
		overflow-y: hidden;
		padding-right: 17px;
	}

	--primary: #0070f3;
	--secondary: #9750DD;
	--error: #F31260;
}

h1 {
	letter-spacing: -0.05em;
	line-height: 1.5;
	font-size: 3rem;
	font-weight: 700;
}

h5 {
	font-size: 2rem;
	line-height: 1.5;
	margin-bottom: 0;
	margin-top: 0;
}

a {
	color: #3d9cf7;
	transition: opacity 0.25s ease 0s;
	text-decoration: none;
	&:hover {
		opacity: 0.8;
	}
}

button {
	background: none;
	border-style: none;
}

.header {
	margin: 0 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	> h1 {
		margin-right: 1rem;
	}

	> button {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: $ground-color;
}

body.modal-open #modal {
	display: block;
}

#modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-dialog {
	display: none;
	background-color: #111111;
	margin: auto;
	padding: 20px;
	max-width: 600px;
	border-radius: 14px;
	border-style: none;

	&.active-modal {
		display: block;
	}
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1rem 1rem 1rem 0rem;
}

.modal-close {
	background-color: transparent;
	height: auto;
	padding: 0.375rem;
	color: #666666;
	transition: opacity 0.25s ease 0s;

	&:hover {
		opacity: 0.8;
	}

	> svg {
		width: 1.5rem;
		height: 1.5rem;
	}
}

.instruction-row {
	margin-bottom: 1rem;
	line-height: 1.5em;
}

.result-pattern {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.results-modal p {
	text-align: center;
	font-size: 1rem;
	margin-top: 0;
	margin-bottom: 0;
}

.results-modal .solution {
	font-size: 2rem;
	letter-spacing: 0.05em;
	font-weight: bold;
}

.results-modal .action-button {
	display: block;
	margin: 1.5rem auto 0 auto;
}

.action-section {
	display: flex;
	justify-content: center;

	.action-button {
		margin-left: 20px;
		margin-right: 20px;
	}
}

.action-button.primary {
	--button-color-primary: var(--primary);
}

.action-button.error {
	--button-color-primary: var(--error);
}

.action-button.secondary {
	--button-color-primary: var(--secondary);
}

.action-button {
	height: 2.5rem;
	padding-right: 0.875rem;
	padding-left: 0.875rem;
	width: auto;
	min-width: 12rem;
	font-size: 0.875rem;
	border-radius: 12px;
	outline-offset: 2px;
	outline-color: var(--button-color-primary);

	&:hover {
		opacity: 0.85;
	}

	&:focus {
		outline-style: solid;
	}

	&:active {
		transform: scale(0.97);
	}

	&:disabled {
		transform: none;
		box-shadow: none;
		pointer-events: none;
	}
}

.action-button.solid {
	color: white;
	background-color: var(--button-color-primary);
	&:disabled {
		background-color: #262626;
		color: #c9c9c9;
	}
}

.action-button.outlined {
	border-style: solid;
	border-color: var(--button-color-primary);
	color: var(--button-color-primary);
	background-color: transparent;
}

.guess-section {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.guess-row {
	display: flex;
	justify-content: center;
}

.move-card {
	border-radius: 0.1rem;
	width: 5rem;
	height: 5rem;
	margin: 5px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	line-height: 2rem;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;

	&[data-state="correct"] {
		background-color: $correct-guess-color;
	}

	&[data-state="present"] {
		background-color: $present-guess-color;
	}

	&[data-state="absent"] {
		background-color: $absent-guess-color;
	}

	&[data-state="empty"] {
		background-color: $empty-guess-color;
	}

	&.move-card-preview {
		border-radius: 0.1rem;
		width: 3rem;
		height: 3rem;
		margin: 4px;
		font-size: 1.2rem;
	}

	&.move-card-preview-small {
		border-radius: 0.1rem;
		width: 2rem;
		height: 2rem;
		margin: 0;
		line-height: 2rem;
		font-size: 0.8rem;
	}
}

.submit-section {
	margin-top: 20px;
}
