@use 'defaults.scss';

$ground-color: #000000;

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI','Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans','Helvetica Neue', sans-serif;
	color: white;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
	background-color: $ground-color;
}

.preview {
	height: 30em;
}

